<div class="header header-bg bg-gradient-primary pb-3 pt-4">
	<h1 class="text-uppercase pl-3 text-white">User Status</h1>
	<div class="container-fluid">
		<div class="header-body">
			<div class="row">
				<div class="col-xl-6 col-lg-6">
					<div class="card card-stats mb-4 mb-xl-0 ">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Total users</h5>
									<span class="h2 font-weight-bold mb-0">{{userCount}}</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-warning text-white rounded-circle shadow">
										<i class="fas fa-users"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-muted text-sm">
								<a style="cursor: pointer" routerLink="/user-status">View Details</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="card card-stats mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Total Feedback</h5>
									<span class="h2 font-weight-bold mb-0">{{feedbackCount}}</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-info text-white rounded-circle shadow">
										<i class="far fa-comments"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-muted text-sm">
								<a style="cursor: pointer;color: #cb293f" routerLink="/categories">View Details</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="card shadow" id="allRecords">
			<div class="card-header border-0">
				<h3 class="mb-0">New Users</h3>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<th scope="col">#</th>
							<th scope="col">User Name</th>
							<th scope="col">Email</th>
							<th scope="col">Date of Registeration</th>
							<th scope="col">Time</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngFor="let User of user_array|paginate: {id: 'pagination1', itemsPerPage: 5, currentPage: p };let i=index">
							<td>{{(5*(p-1)+i)+1}} </td>
							<td *ngIf="User.userName">{{User.userName}}</td>
							<td *ngIf="!User.userName">-</td>
							<td>{{User.email}}</td>
							<td>{{User.createdAt | date: 'dd/MM/yyyy'}}</td>
							<td>{{User.createdAt | date: 'hh:mm a'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="justify-content-center w-100">
				<pagination-controls id="pagination1" (pageChange)="p = $event"></pagination-controls>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow" id="allRecords">
			<div class="card-header border-0">
				<h3 class="mb-0">User Feedback</h3>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col" title="Submitted Time">Submitted At</th>
							<th scope="col" title="View More">View More</th>

						</tr>
					</thead>
					<tbody>
						<tr
							*ngFor="let user of feedback_array|paginate: { id: 'pagination2',itemsPerPage: 5, currentPage: Page };let i=index">
							<td>{{(5*(Page-1)+i)+1}} </td>
							<td>{{user.name}}</td>
							<td>{{user.email}}</td>
							<td>{{user.createdAt | date: 'short'}}</td>
							<td><a href="void(0)" style="cursor:pointer;" aria-hidden="true" data-toggle="modal"
									data-target="#feedbackmodal" (click)="viewMore(user)">View
									Detail</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="justify-content-center w-100">
				<pagination-controls id="pagination2" (pageChange)="Page = $event"></pagination-controls>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="feedbackmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="text-center">User Feedback</h3>
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body mx-3" *ngIf="singlefeedback">
				<div class="row">
					<div class="col-3 my-2">
						<h4 class="text-primary">Name:</h4>
					</div>
					<div class="col-9 my-2">
						<h4>{{singlefeedback.name}}</h4>
					</div>
					<div class="col-3 my-2">
						<h4 class="text-primary">Email:</h4>
					</div>
					<div class="col-9 my-2">
						<h4>{{singlefeedback.email}}</h4>
					</div>
					<div class="col-3 my-2">
						<h4 class="text-primary">Mobile:</h4>
					</div>
					<div class="col-9 my-2">
						<h4>{{singlefeedback.mobile}}</h4>
					</div>
					<div class="col-3 my-2">
						<h4 class="text-primary">Message:</h4>
					</div>
					<div class="col-9 my-2">
						<h4>{{singlefeedback.message}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>