<!-- <div class="card" id="allRecords">
  <div class="card-header card-header-primary">
    <h4 class="card-title ">Pending News List</h4>
  </div>
  <div class="card-body">
    <div class="table table-responsive">
      <table class="table">
        <thead>
          <th>Sr. No.</th>
          <th>NewsTitle</th>
          <th>NewsCategory</th>
          <th>CreatedBy</th>
          <th>CreatedAt</th>
          <th>Approve</th>
          <th>Reject</th>
        </thead>
        <tbody
          *ngFor="let news of newList|paginate: { id: 'pagination2',itemsPerPage: 5, currentPage: Page };let i=index">
          <tr>
            <td>{{(5*(Page-1)+i)+1}} </td>
            <td>{{news.newsTitleEnglish}}</td>
            <td>{{news.newsCategory}}</td>
            <td>{{news.createdBy.email}}</td>
            <td>{{news.createdAt | date: 'short'}}</td>
            <td><i class="fa fa-check-circle fa-3x" style="cursor:pointer;" (click)="approveNews(news.newsId)"
                aria-hidden="true"></i></td>
            <td><i class="fa fa-times fa-3x" style="cursor:pointer;" (click)="rejectNews(news.newsId)"
                aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
      <div class="justify-content-center w-100">
        <pagination-controls id="pagination2" (pageChange)="Page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div> -->


<div class="header header-bg bg-gradient-primary pb-3 pt-4">
  <h1 class="text-uppercase pl-3 text-white">Pending Posts</h1>
</div>
<div class="row">
  <div class="col">
    <div class="card shadow" id="allRecords">
      <div class="card-header border-0">
        <h3 class="mb-0">Live Catagory</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">News Title</th>
              <th scope="col">News Category</th>
              <th scope="col">Created By</th>
              <th scope="col">Created At</th>
              <th scope="col">Approve</th>
              <th scope="col">Reject</th>
            </tr>
          </thead>
          <tbody
          *ngFor="let news of newList|paginate: { id: 'pagination2',itemsPerPage: 5, currentPage: Page };let i=index">
          <tr>
            <td>{{(5*(Page-1)+i)+1}} </td>
            <td>{{news.newsTitleEnglish}}</td>
            <td>{{news.newsCategory}}</td>
            <td>{{news.createdBy.email}}</td>
            <td>{{news.createdAt | date: 'short'}}</td>
            <td><i class="fa fa-check fa-2x text-success ml-4" style="cursor:pointer;" (click)="approveNews(news.newsId)"
                aria-hidden="true"></i></td>
            <td><i class="fa fa-times fa-2x text-danger ml-4" style="cursor:pointer;" (click)="rejectNews(news.newsId)"
                aria-hidden="true"></i></td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="justify-content-center w-100">
          <pagination-controls id="pagination2" (pageChange)="Page = $event"></pagination-controls>
        </div>
    </div>
  </div>
</div>