<!-- new design start -->
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main"
	*ngIf="auth.isLoggednIn()">
	<div class="container-fluid">
		<a class="navbar-brand pb-5">
			<img src="assets/img/brand/Trivia.png" class="navbar-brand-img" alt="...">
		</a>
		<div class="collapse navbar-collapse mt-5" id="sidenav-collapse-main">
			<div class="navbar-collapse-header d-md-none">
				<div class="row">
					<div class="col-6 collapse-brand">
						<a href="index.html">
							<img src="assets/img/brand/Trivia.png">
						</a>
					</div>
					<div class="col-6 collapse-close">
						<button type="button" class="navbar-toggler" data-toggle="collapse"
							data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
							aria-label="Toggle sidenav">
							<span></span>
							<span></span>
						</button>
					</div>
				</div>
			</div>
			<ul class="navbar-nav dashboard-link">
				<li class="nav-item w-100" *ngIf="auth.isLoggednIn()">
					<a class="nav-link active" routerLink="/dashboard">
						<i class="ni ni-tv-2 text-primary"></i> Dashboard
					</a>
				</li>

				<li class="nav-item w-100">
					<a class="nav-link" routerLink="/categories"
						*ngIf="auth.isLoggednIn() &&  userRole || admin == 'admin'">
						<i class="fa fa-th text-info"></i> Category
					</a>
				</li>
				<li class="nav-item w-100">
					<a class="nav-link" routerLink="/trivia-posts" *ngIf="auth.isLoggednIn()">
						<i class="ni ni-album-2 text-orange"></i> Category wise Posts
					</a>
				</li>
				<li class="nav-item w-100">
					<a class="nav-link" routerLink="/sub-admin"
						*ngIf=" auth.isLoggednIn() && userRole || admin == 'admin'">
						<i class="fa fa-user text-yellow"></i> Sub Admin
					</a>
				</li>
				<li class="nav-item w-100">
					<a class="nav-link" routerLink="/pending-posts"
						*ngIf=" auth.isLoggednIn() && userRole || admin == 'admin'">
						<i class="ni ni-bullet-list-67 text-red"></i> Pending Posts
					</a>
				</li>
				<li class="nav-item w-100">
					<a class="nav-link" routerLink="/user-status"
						*ngIf=" auth.isLoggednIn() && userRole || admin == 'admin'">
						<i class="fa fa-dot-circle-o text-info"></i> User Status
					</a>
				</li>
				<li class="nav-item w-100">
					<a class="nav-link" routerLink="/other-details"
						*ngIf=" auth.isLoggednIn() && userRole || admin == 'admin'">
						<i class="ni ni-folder-17 text-pink"></i> Other Details
					</a>
				</li>
				<li class="nav-item w-100">
					<a class="nav-link" href="javavoid(0)" (click)="Logout()" *ngIf="auth.isLoggednIn()">
						<i class="ni ni-button-power text-pink"></i> Logout
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- new design end -->


<div class="main-panel" id="sidebarCollapse">
	<nav class="navbar navbar-expand-lg navbar-transparent">
		<div class="container-fluid">
			<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" aria-controls="navigation-index"
				aria-expanded="false" aria-label="Toggle navigation" *ngIf="auth.isLoggednIn()">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon icon-bar"></span>
				<span class="navbar-toggler-icon icon-bar"></span>
				<span class="navbar-toggler-icon icon-bar"></span>
			</button>
		</div>
	</nav>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>