<div class="header header-bg bg-gradient-primary pb-3 pt-4">
	<h1 class="text-uppercase pl-3 text-white">Categories wise Posts</h1>
</div>
<div class="container-fluid">
	<!-- Projects table -->
	<div class="row mt-2">
		<div class="col-xl mb-5 mb-xl-0">
			<div class="card shadow" id="allRecords">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="mb-0">All Trivia Post</h3>
						</div>
						<div class="col text-right">
							<a href="#!" class="btn btn-primary" data-toggle="modal"
								data-target="#modaladdTriviaPost">Add News</a>
						</div>
					</div>
				</div>
				<div class="table-responsive">

					<table class="table align-items-center table-flush">
						<thead class="thead-light">
							<tr>
								<th scope="col" title="English Title">Title (Eng)</th>
								<th scope="col" title="Hindi Title">Title (Hin)</th>
								<th scope="col">Category</th>
								<th scope="col">Edit</th>
								<th scope="col">Delete</th>
								<th scope="col" title="Date of Creation">Date</th>
								<th scope="col" title="Views of Post in English">Views (E) </th>
								<th scope="col" title="Views of Post in Hindi">Views (H) </th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let news of news_array | paginate: { itemsPerPage: 5, currentPage: P }">
								<td class="description">{{news.newsTitleEnglish}}</td>
								<td class="description">{{news.newsTitleHindi}}</td>
								<td>
									{{news.newsCategory}}
								</td>
								<td><i title="Edit" class="fas fa-edit fa-1x text-info ml-2" style="cursor:pointer"
										data-toggle="modal" data-target="#myModal" (click)="editNews(news)"
										aria-hidden="true"></i></td>
								<td><i title="Delete" class="fas fa-trash fa-1x text-danger ml-4" style="cursor:pointer"
										(click)="deleteNews(news.newsId)" aria-hidden="true"></i>
								</td>
								<td>{{news.createdAt | date: 'short'}}</td>
								<td>{{news.englishViews}}</td>
								<td>{{news.hindiViews}}</td>
								<td *ngIf="news.isApproved == 'APPROVED'" class="text-success font-weight-bold">
									{{news.isApproved}}</td>
								<td *ngIf="news.isApproved == 'REJECTED'" class="text-danger font-weight-bold">
									{{news.isApproved}}</td>
								<td *ngIf="news.isApproved == 'PENDING'" class="text-warning font-weight-bold">
									{{news.isApproved}}</td>
							</tr>
						</tbody>
					</table>
					<div class="justify-content-center w-100 mt-2">
						<pagination-controls (pageChange)="P = $event"></pagination-controls>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Projects table -->


<!-- Add News Model Start -->


<div class="modal fade" id="modaladdTriviaPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-center">Add News</h4>
				<button type="button" class="close pull-right" (click)="closeModelTriviaPost(news_form)"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body mx-3">
				<form [formGroup]="news_form" (ngSubmit)="addNews()">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">NewsTitle(English)</label>
								<textarea class="form-control" formControlName="newsTitleEnglish" name="categoryTitle"
									rows="3" id="comment"
									[ngClass]="{ 'is-invalid': submitted && f.newsTitleEnglish.errors }"></textarea>
								<div *ngIf="submitted && f.newsTitleEnglish.errors" class="invalid-feedback">
									<div *ngIf="f.newsTitleEnglish.errors.required">English Title is required</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">NewsTitle(Hindi)</label>
								<textarea class="form-control" formControlName="newsTitleHindi" name="categoryTitle"
									required="required" rows="3" id="comment"
									[ngClass]="{ 'is-invalid': submitted && f.newsTitleHindi.errors }"></textarea>
								<div *ngIf="submitted && f.newsTitleHindi.errors" class="invalid-feedback">
									<div *ngIf="f.newsTitleHindi.errors.required">English Title is required</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select formControlName="categoryId"
									class="browser-default custom-select custom-select-md mb-1"
									[ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
									<option selected="selected" disabled="disabled" value="">Choose category
									</option>
									<option *ngFor="let category of category_array" value="{{category.categoryId}}">
										{{category.categoryTitle}}
									</option>
								</select>
								<div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
									<div *ngIf="f.categoryId.errors.required">News Category is required</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select formControlName="newsType"
									class="browser-default custom-select custom-select-md mb-1"
									[ngClass]="{ 'is-invalid': submitted && f.newsType.errors }">
									<option selected="selected" disabled="disabled" value="">Choose Template
									</option>
									<option value="shortnews">Short News</option>
									<option value="twoslides">Two Slides</option>
									<option value="multipleslides">Multiple Slides</option>
								</select>
								<div *ngIf="submitted && f.newsType.errors" class="invalid-feedback">
									<div *ngIf="f.newsType.errors.required">News Template is required</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-group">
							<label class="bmd-label-floating">News Content(English)</label>
							<ckeditor formControlName="newsEnglish"
								[ngClass]="{ 'is-invalid': submitted && f.newsEnglish.errors }" [config]="config"
								style="color: black;">
								<div *ngIf="submitted && f.newsEnglish.errors" class="invalid-feedback">
									<div *ngIf="f.newsEnglish.errors.required">News Template is required</div>
								</div>
							</ckeditor>
						</div>
					</div>
					<div class="form-group">
						<div class="form-group">
							<label class="bmd-label-floating">News Content(Hindi)</label>
							<ckeditor formControlName="newsHindi" [config]="config"
								[ngClass]="{ 'is-invalid': submitted && f.newsHindi.errors }" style="color: black;">
							</ckeditor>
							<div *ngIf="submitted && f.newsHindi.errors" class="invalid-feedback">
								<div *ngIf="f.newsHindi.errors.required">News Template is required</div>
							</div>
						</div>
					</div>
					<label class="input-file-button" for="hello"><span> Choose File</span>
						<input type="file" id="hello" accept=".jpeg, .jpg, .png, .gif" formControlName="newsImage"
							required="required" (change)="addFile($event)"
							[ngClass]="{ 'is-invalid': submitted && f.newsImage.errors }">
						<div *ngIf="submitted && f.newsImage.errors" class="invalid-feedback">
							<div *ngIf="f.newsImage.errors.required">News Template is required</div>
						</div>
					</label>
					<div class="col-md-6" *ngIf="url">
						<img [src]="url" height="50px" width="50px">
					</div>
					<div class="d-flex float-right">
						<input type="submit" name="categories_submit" class="btn btn-primary mb-5">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Add News Model End -->


<!-- Edit News Model Start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-center">Edit News</h4>
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body mx-3">
				<form [formGroup]="editnews_form" *ngIf="singleNews">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">NewsTitle(English)</label>
								<input class="form-control" type="text" formControlName="newsTitleEnglish"
									[(ngModel)]="singleNews.newsTitleEnglish">
							</div>
							<input type="text" id="please" hidden value="{{singleNews.newsId}}">
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">NewsTitle(Hindi)</label>
								<input class="form-control" type="text" formControlName="newsTitleHindi"
									[(ngModel)]="singleNews.newsTitleHindi">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select class="browser-default custom-select custom-select-md mb-1"
									formControlName="categoryId" *ngIf="singleNews.newsCategoryId"
									[(ngModel)]="singleNews.newsCategoryId">
									<option selected="selected" disabled="disabled" value="">
										Choose category</option>
									<option *ngFor="let category of category_array" value="{{category.categoryId}}">
										{{category.categoryTitle}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="browser-default custom-select custom-select-md mb-1"
									formControlName="newsType" *ngIf="singleNews.newsType"
									[(ngModel)]="singleNews.newsType">
									<option selected="selected" disabled="disabled" value="">
										Choose Template</option>
									<option value="shortnews">Short News</option>
									<option value="twoslides">Two Slides</option>
									<option value="multipleslides">Multiple Slides</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-group">
							<ckeditor formControlName="newsEnglish" [(ngModel)]="singleNews.newsEnglish"
								[config]="config">
							</ckeditor>
						</div>
					</div>
					<div class="form-group">
						<div class="form-group">
							<ckeditor formControlName="newsHindi" [(ngModel)]="singleNews.newsHindi" [config]="config">
							</ckeditor>
						</div>
					</div>
					<label class="input-file-button" for="hello"><span> Choose File</span>
						<input type="file" id="hello" accept=".jpeg, .jpg, .png, .gif" formControlName="newsImage"
							name="categoryImage" required="required" (change)="addFile($event)">
					</label>
					<div class="col-md-6" *ngIf="url">
						<img [src]="url" height="50px" width="50px">
					</div>
					<div class="col-md-6" *ngIf="!url">
						<img src="{{mediaPath}}{{singleNews.newsImage}}" title="Upload new image to change this one."
							height="100px" width="100px">
					</div>
					<div class="d-flex float-right">
						<button type="button" class="btn btn-primary mb-5" data-dismiss="modal"
							(click)="updateCat(editnews_form.value)">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Edit News Model End -->